*{
	box-sizing: border-box;
	font-family: 'ZCOOL XiaoWei', serif;
}

/*.pos-nav{
	position: fixed;
	width: 100%;
	display: block;
}*/

.navbar{
	background-color: #1512C9;
}

.nav2 a{
	font-size: 15px;
	padding-top: 0;
	padding-bottom: 0;
}

.skills-icon{
	font-size: 80px;
}

.skills-icon p{
	font-size: 20px !important;
	text-align: center;
}

.pad{
	height: 400px;
	text-align: center;
}

.welcome img{
	border: 3px solid blue;
}

.para{
	font-size: 20px;
	margin: auto;
}

.link-color{
	color: yellow !important;
}

.Education{
	background-color: blue;
}

.Education h2{
	color: yellow ;
}

.Education h3{
	color: black;
}

.cardz{
	margin: auto;
}

.siz{
	font-size: 20px;
}

.icon-font{
	font-size: 100px;
}

.welcome{
	color: blue !important;
}

.experience h2{
	color: blue;
}

/*.welcome2{
	background-color: rgb(237, 28, 9, 0.5);

}
*/

.Portfolio h3{
	font-size: 35px;
}
/*.img-pad{
	width: 300px;
	height: 300px;*/

.div-color{
	background-color: blue;
}

.formz{
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.form-border input{
	border: 2px solid white;
}

.button1{
	margin-left: auto;
}

.summ{
	font-size: 20px;
}

.ov-flow{
	overflow: hidden;
}

@media (min-width : 640px) and (max-width : 768px) and (orientation : landscape){
	section{
		width: 100%;
	}
}

@media (min-width : 768px) and (max-width : 1024px) and (orientation : landscape){
	section{
		width: 100%;
	}

}

@media (min-width : 768px) and (max-width : 1024px){
	section{
		width: 122.5%;
	}
}